.neutcomp-status-not-sent {
  color: #b32d2e;
  font-weight: 600;
}

.neutcomp-status-sent {
  color: #008a20;
  font-weight: 600;
}

.neutcomp-reminder-table .check-column {
  position: relative;
  vertical-align: middle !important;
}

.neutcomp-reminder-table .check-column input[type="checkbox"] {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.neutcomp-bulk-delete-submit {
  margin-top: 16px;
}

.neutcomp-reminder-form #neutcomp-name,
.neutcomp-reminder-form #neutcomp-email,
.neutcomp-reminder-form #neutcomp-date,
#neutcomp-team-name {
  box-sizing: border-box;
  height: 44px !important;
  min-height: 44px !important;
}

.regular-text {
  box-sizing: border-box;
  height: 40px;
}
