.neutcomp-schedule-table {
  width: 100%;
}

.neutcomp-schedule-table th,
.neutcomp-schedule-table td {
  padding: 10px 12px;
}

.neutcomp-schedule-table tbody tr {
  background-color: #fff;
}

.neutcomp-schedule-table tbody tr:nth-child(even) {
  background-color: #f0f0f0;
}

.neutcomp-schedule-table.neutcomp-schedule-table-split th,
.neutcomp-schedule-table.neutcomp-schedule-table-split td {
  width: 25%;
}
